body {
    

.main {
    display:flex;
    flex-direction:column;
    align-items:center;
    color: black;
}

.navigation ul{
    list-style:none;
    padding:0;
    margin:20px 0;
    text-color: #E9E4DB;

    display:flex;
    justify-content:center;
    gap:30px;
}


